<!DOCTYPE html>
<html>

<head>
    <title>Tipos de estilos</title>
    <link rel="stylesheet" type="text/css" href="css/bordesPage.css">
    <link rel="icon" href="../../../img/favicon.avif">
</head>

<body>
    <section>
        <article>
            <h1>Tipos de bordes</h1>
            <div id="container">
                <div id="bordeSolido">
                    <p>Borde sólido</p>
                </div>

                <div id="bordePunteado">
                    <p>Borde punteado</p>
                </div>

                <div id="bordeDiscontinuo">
                    <p>Borde discontinuos</p>
                </div>

                <div id="bordeDoble">
                    <p>Borde dobles</p>
                </div>

                <div id="bordeRelieve">
                    <p>Borde en relieve</p>
                </div>

                <div id="bordeHundido">
                    <p>Borde en relieve hundidos</p>
                </div>

                <div id="borde3D">
                    <p>Borde en reliave 3D</p>
                </div>

                <div id="bordeNo">
                    <p>Sin bordes</p>
                </div>
            </div>
        </article>
    </section>
</body>

</html>