<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Mi Aplicación</title>
    <link rel="icon" href="../img/favicon.avif">
    <meta name="author" content="Lucía Rguez">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
    <div class="container">
        <h1>Bienvenido a mi aplicación</h1>
        <section>
            <article>
                <p>Esta aplicación ha sido creada para poder unir todas las actividades de <span id="color">Diseño de
                        interfaces web</span> que se han hecho a lo largo del curso.</p>
            </article>
            <!-- Article que contiene los dropdown para poder acceder a las actividades realizadas ordenadas según la evaluación -->
            <article>
                <div class="dropdown">
                    <button class="dropbtn">Primera Evaluacion</button>
                    <div class="dropdown-content">
                        <a href="ejercicios/primera_evaluacion/LRF-Actividad1/ficha.html" target="_blank">Actividad
                            1</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Segunda Evaluacion</button>
                    <div class="dropdown-content">
                        <a href="ejercicios/segunda_evaluacion/LRF-Actividad2/index.html" target="_blank">Actividad
                            2</a>
                        <a href="ejercicios/segunda_evaluacion/LRF-Actividad3/index.html" target="_blank">Actividad
                            3</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Tercera Evaluacion</button>
                    <div class="dropdown-content">
                        <a href="ejercicios/tercera_evaluacion/LRF-Actividad4/index.html" target="_blank">Actividad
                            4</a>
                        <a href="ejercicios/tercera_evaluacion/LRF-Actividad5/index.html" target="_blank">Actividad
                            5</a>
                    </div>
                </div>
            </article>
            <br>
            <br>
            <article>
                <p>Además, dispondremos de los exámenes que hemos hecho en la 1ª Evaluación y en la 2ª Evaluación</p>
            </article>
            <!-- Article que contiene los dropdown para poder acceder a los exámenes ordenados según la evaluación -->
            <article>
                <div class="dropdown">
                    <button class="dropbtn">Examen Primera Evaluacion</button>
                    <div class="dropdown-content">
                        <a href="ejercicios/examenes/primera_evaluacion/DAW2_M09_Ex1_RguezLucia/ejercicio1/ejercicio1.html"
                            target="_blank">Ejercicio1</a>
                        <a href="ejercicios/examenes/primera_evaluacion/DAW2_M09_Ex1_RguezLucia/ejercicio2/ejercicio2.html"
                            target="_blank">Ejercicio2</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Examen Segunda Evaluacion</button>
                    <div class="dropdown-content">
                        <a href="ejercicios/examenes/segunda_evaluacion/DAW2_M09_Ex2_RguezLucia/index.html"
                            target="_blank">Ejercicio1</a>
                    </div>
                </div>
            </article>
            <br>
            <br>
            <article>
                <p>Además, dispondremos de diferentes tipos de estilos que pueden ser útiles: bordes...</p>
            </article>
            <!-- Article que contiene varios dropdown con algunos estilos que pueden ser interesantes -->
            <article>
                <div class="dropdown">
                    <button class="dropbtn">Diferentes tipos de estilos</button>
                    <div class="dropdown-content">
                        <a href="estilosEjemplos/bordes/bordesPage.html" target="_blank">Tipos de bordes</a>
                        <a href="estilosEjemplos/tablas/tablasPage.html" target="_blank">Tipos de tablas</a>
                    </div>
                </div>
            </article>
            <!-- Article que contiene los pds con los enunciados de las actividades hechas anteriormente -->
            <article>
                <div class="row">
                    <div class="column">
                        <h2>Ejercicio Actividad 1</h2>
                        <iframe src="pdf/Actividad1.pdf" width="80%" height="400px"></iframe>
                    </div>
                    <div class="column">
                        <h2>Ejercicio Actividad 2</h2>
                        <iframe src="pdf/Actividad2.pdf" width="80%" height="400px"></iframe>
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <h2>Ejercicio Actividad 3</h2>
                        <iframe src="pdf/Actividad3.pdf" width="80%" height="400px"></iframe>
                    </div>
                    <div class="column">
                        <h2>Ejercicio Actividad 4</h2>
                        <iframe src="pdf/Actividad4.pdf" width="80%" height="400px"></iframe>
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <h2>Ejercicio Actividad 5</h2>
                        <iframe src="pdf/Actividad5.pdf" width="40%" height="400px"></iframe>
                    </div>
                </div>
            </article>
        </section>
        <footer>
            <p>Página realizada por: Lucía Rguez</p>
        </footer>
    </div>
</body>

</html>