<!DOCTYPE html>
<html>

<head>
    <title>Tipos de estilos</title>
    <link rel="stylesheet" type="text/css" href="css/tablasPage.css">
    <link rel="icon" href="../../../img/favicon.avif">

</head>

<body>
    <section>
        <article>
            <h1>Tipos de tablas</h1>
            <div id="container">
                <h2>Tablas raras</h2>
                <div>
                    <table class="tabla-basica">
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Stock</th>
                        </tr>
                        <tr>
                            <td>Camiseta</td>
                            <td>$20</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Pantalón</td>
                            <td>$30</td>
                            <td>30</td>
                        </tr>
                    </table>

                </div>

                <div>
                    <table class="tabla-alternativa">
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>john@example.com</td>
                        </tr>
                        <tr>
                            <td>Jane Smith</td>
                            <td>jane@example.com</td>
                        </tr>
                    </table>

                </div>

                <div>
                    <table class="tabla-resaltada">
                        <tr>
                            <th>Ciudad</th>
                            <th>Población</th>
                        </tr>
                        <tr>
                            <td>Madrid</td>
                            <td>3.3 millones</td>
                        </tr>
                        <tr>
                            <td>París</td>
                            <td>2.2 millones</td>
                        </tr>
                    </table>
                </div>
                <h2>Tablas no tan raras</h2>
                
        </article>
    </section>
</body>

</html>